@import url("https://fonts.googleapis.com/css?family=Roboto");
.section-2 {
  height: 80dvh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 1100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  box-shadow: 1px 2px 4px;
}
.about-1 {
  display: inline;
  background-color: #ebe1ff;
}
.about-2 {
  padding: 20px;
  /* background-color: transparent; */
}
.about-2 h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  font-family: "Times New Roman", Times, serif;
}
.about-2-info {
  padding: 8px;
}
.description-about-2 {
  color: #999999;
  padding-bottom: 3rem;
}

.about-2-entity {
  font-size: 1.1rem;
  font-weight: 900;
  font-family: "Times New Roman", Times, serif;
}
.about-2-data {
  color: #999980;
}
