* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  letter-spacing: 0.7px;
  color: #000000;
}
@font-face {
  font-family: YoungSerif-Regular;
  src: url(/fonts/Young_Serif/YoungSerif-Regular.ttf);
}
:root {
  --bg-color: #d7d7d7;
  --text-color: #000000;
  --hover-color: #11ffff;
  --gap: 1rem;
  --text-size: 18px;
  --text-font: "Times New Roman", Times, serif;
  --my-weight: 600;
  --shadow-color: #2266cc;
  --btn-bg: #f4511e;
}
body {
  background-color: var(--bg-color);
}
.Heading {
  font-family: YoungSerif-Regular;
  text-align: center;
  line-height: 2.5rem;
  letter-spacing: 2px;
  animation: down 1s;
}
.btn1,
.btn2 {
  font-family: YoungSerif-Regular;
  background-color: var(--btn-bg);
  padding: 10px 20px;
  letter-spacing: 2px;
  border-radius: 5px;
  margin: 5px;
  font-size: var(--text-size);
}
.btn1 {
  position: fixed;
  top: 0;
  left: 0;
}
.btn2 {
  position: fixed;
  top: 0;
  right: 0;
}
.btn1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.btn2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.btn1 span::before {
  content: "\00ab";
  opacity: 0;
  transition: 0.5s;
}
.btn2 span::after {
  content: "\00bb";
  opacity: 0;
  transition: 0.5s;
}
.btn1:hover span {
  padding-left: 15px;
}
.btn2:hover span {
  padding-right: 15px;
}
.btn1:hover span::before {
  opacity: 1;
}
.btn2:hover span::after {
  opacity: 1;
}
.ex_heading {
  margin-top: 3rem;
  text-align: center;
  animation: down 1.5s;
}

.box {
  animation: up 2s;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.box1,
.box2,
.box3 {
  width: 30%;
  max-width: 40%;
  padding: 0.5rem;
  border-left: 2px solid;
  text-align: center;
}
.box11,
.box22,
.box33 {
  padding: 0.5rem;
  display: grid;
  grid-gap: 0.6rem;
  grid-template: repeat(2, 1fr) / repeat(auto-fit, minmax(100px, 1fr));
}

@keyframes down {
  from {
    transform: translateY(-200%);
  }
}
@keyframes up {
  from {
    transform: translateY(100%);
  }
}
