.experienced {
  box-sizing: border-box;
  /* margin-top: 2rem; */
}
.experienced_container {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(12, 1fr);
}
.card-continer-exp {
  display: flex;
  justify-content: center;

  /* border: 2px solid; */
}
.card-exp {
  margin-top: 2rem;
  width: 95%;
  border-radius: 5px;
  padding: 2rem;
  box-shadow: 1px 1px 6px rgb(65, 65, 80);
  animation: left 2;
}
.experience_container_head {
  grid-column: 1/-1;
  font-size: 2rem;
  text-align: center;
  padding: 10px;
  width: 100%;
  /* background-color: rgb(97, 124, 124); */
}
.frontend {
  grid-column: 1/7;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 1px 1px 6px rgb(65, 65, 80);

  /* background-color: rgb(46, 146, 146); */
}
.backend {
  grid-column: 7/13;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 1px 1px 6px rgb(65, 65, 80);
  /* background-color: rgb(7, 100, 100); */
}
.frontend-title {
  text-align: center;
  font-size: 1.7rem;
}

.frontend-skills {
  margin-top: 8px;
  margin-bottom: 8px;
}
.backend-skills {
  margin-top: 8px;
  margin-bottom: 8px;
}
.skill-title {
  margin-bottom: 4px;
}
.container-skill {
  width: 100%;
  height: 25px;
  border-radius: 10px;
  background-color: #9d9b9b; /* Grey background */
}
.skills {
  text-align: right; /* Right-align text */
  color: white; /* White text color */
}

.html {
  width: 90%;
  height: 25px;
  background-color: #000000;
}
.css {
  width: 90%;
  height: 25px;
  background-color: #000000;
}
.js {
  width: 70%;
  height: 25px;
  background-color: #000000;
}
.tcss {
  width: 70%;
  height: 25px;
  background-color: #000000;
}
.react {
  width: 60%;
  height: 25px;
  background-color: #000000;
}
.next {
  width: 50%;
  height: 25px;
  background-color: #000000;
}
@media (max-width: 640px) {
  /* .experienced_container {
    grid-template-columns: repeat(1, 1fr);
  } */
  .frontend {
    grid-column: 1/-1;
    /* background-color: rgb(46, 146, 146); */
  }
  .backend {
    grid-column: 1/-1;
    /* background-color: rgb(7, 100, 100); */
  }
}
@keyframes left {
  from {
    transform: translateX(-10%);
  }
}
