* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  letter-spacing: 2px;
}
@font-face {
  font-family: myFont;
  src: url(/fonts/Noto_Serif/static/NotoSerif-Regular.ttf);
}
:root {
  --header-color: #071725;
  --bg-color: #200d0d;
  --text-color: #ededed;
  --hover-color: #11ffff;
  --gap: 1rem;
  --text-size: 18px;
  --my-weight: 600;
  --shadow-color: #2266cc;
}
body {
  background-color: var(--bg-color);
  font-family: myFont;
  color: var(--text-color);
  background-image: url(/img/home.jpg);
}
.Heading {
  background-color: var(--header-color);
  color: #ededed;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
}
.name {
  animation: down 1s 1;
  letter-spacing: 4px;
}
.name::first-letter {
  font-size: 2.5rem;
  font-style: italic;
  color: #fc007e;
}
.menuItems {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar1 a {
  font-size: 1rem;
  margin-right: var(--gap);
  color: var(--text-color);
  font-weight: 600;
}
.navbar1 .active_page {
  font-size: var(--text-size);
  color: var(--hover-color);
  transition: 0.3s;
}
.navbar1 a:hover {
  font-size: var(--text-size);
  color: var(--hover-color);
  transition: 0.3s;
}

.dropmenu {
  position: relative;
  display: none;
}
.dropmenu i {
  color: var(--text-color);
}
.dropmenu i:hover {
  color: var(--header-color);
}
.navbar2 {
  position: absolute;
  background-color: white;
  max-width: 100px;
  text-align: start;
  display: none;
  z-index: 1;
}

.navbar2 a {
  color: var(--text-color);
  background-color: var(--header-color);
  padding: 4px;
  display: block;
}

.dropmenu:hover .navbar2 {
  display: block;
}
.navbar2 a:hover {
  color: var(--hover-color);
}
@media (max-width: 740px) {
  .navbar1 {
    display: none;
  }
  .dropmenu {
    display: inline-block;
  }
}
.main_container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10%;
}

.container {
  text-align: center;
  color: var(--text-color);
}
.container .p1 {
  font-size: 1.5rem;
  font-weight: var(--my-weight);
  font-family: myFont;
  letter-spacing: 2px;
  text-shadow: 4px 6px 10px var(--shadow-color);
  animation: down 2s;
}
.container .p2 {
  font-size: 2.5rem;
  font-weight: var(--my-weight);
  text-shadow: 6px 8px 10px var(--shadow-color);
  animation: left 2s;
}
.container .p3 {
  font-size: var(--text-size);
  font-family: myFont;
  text-shadow: 4px 6px 6px var(--shadow-color);
  animation: left 2s;
}

.img_box {
  position: relative;
  top: 4rem;
  display: flex;
  justify-content: center;
  animation: up 3s;
}
.img_box a {
  color: #ededed;
  margin-left: 4rem;
}
.img_box a:hover {
  color: var(--hover-color);
}

@keyframes down {
  from {
    transform: translateY(-300%);
  }
}
@keyframes up {
  from {
    transform: translateY(300%);
  }
}
@keyframes left {
  from {
    transform: translateX(-200%);
  }
}
