.section-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4rem;
}
.project-title {
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
}
.project-description {
  text-align: center;
  color: #999990;
  padding-bottom: 1rem;
}
.project-container {
  max-width: 1200px;
  padding: 0 1rem 0 1rem;
}
.project-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.project-card {
  background-color: #ffffff;
  box-shadow: 2px 1px 6px rgb(182, 182, 182);
  border-radius: 6px;
  height: 300px;
  padding: 4px;
}
.project-card-title {
  text-align: center;
  letter-spacing: 2px;
  font-size: 1.4rem;
  color: #393939;
  font-family: "Times New Roman", Times, serif;
  padding-bottom: 30px;
  padding-top: 20px;
}
.project-card-description {
  text-align: center;
  color: #999990;
  padding: 4px;
}
@media only screen and (max-width: 800px) {
  .project-card {
    grid-column: 1/-1;
  }
}
